<html>
<head>
</head>
<body>
  <h1 id='user-author-title'> <%= @user.name %> </h1>
  <div id='user-reviews'>
    <div id='review-sorting'>
      <div></div>
      <p>Sort reviews by:</p>
      <div id='user-sorting-links'>
        <%= link_to('Newest', user_path(@user.id, sort: :newest)) %>
        <%= link_to('Oldest', user_path(@user.id, sort: :oldest)) %>
      </div>
      <div></div>
    </div>
    <% @reviews.each do |review| %>
      <div class='user-review' id="user-review-<%= review.id %>">
        <h3 class="title"><%= review.review_title %></h3>
        <p><%= review.text %></p>
        <p>Rating: <%= review.rating %> / 5</p>
        <%= link_to('Delete Review', user_review_path(review, user_id: review.user_id), method: :delete) %>
      </div>
    <% end %>
  </div>
</body>
</html>
