<div class='book-info'>
  <%= link_to('Delete Book', book_path(@book), method: :delete) %>
  <%= link_to('Add Review', new_book_review_path(@book)) %>
  <p> <%= @book.title %></p>
  <p>Author(s): <%= @book.authors.map {|author| author.name}.join(", ") %></p>
  <p>Pages: <%= @book.pages %></p>
</div>
<div class='top-reviews'>
  <h3>Top Reviews</h3>
  <% @book.top_reviews.each do |review| %>
  <p>Title: <%= review.review_title %>, Rating: <%= review.rating %> / 5, User: <%= review.user.name %> </p>
  <% end %>
</div>
<div class='bottom-reviews'>
  <h3>Bottom Reviews</h3>
  <% @book.bottom_reviews.each do |review| %>
  <p>Title: <%= review.review_title %>, Rating: <%= review.rating %> / 5, User: <%= review.user.name %> </p>
  <% end %>
</div>
<div class='average-rating'>
  <p>Average Rating: <%= @book.average_rating %></p>
</div>
<% @book.reviews.each do |review| %>
  <div class="review-<%= review.id %>">
    <p> <%= review.review_title %> </p>
    <p><%= review.text %></p>
    <p>Rating: <%= review.rating %> / 5</p>
  </div>
<% end %>
