<h1>Add Review</h1>

<%= form_for [@book, @review] do |f| %>

  <%= f.label :review_title %>
  <%= f.text_field :review_title %>

  <%= f.label :user %>
  <%= f.text_field :user %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit "Submit" %>
<% end %>
